<a href="https://colab.research.google.com/github/Y0un9Ki/mulcamp34/blob/main/%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95231228.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#문자열 함수



1.   split() : 문자열 분리
2.   strip() : 필요없는 문자열 삭제

##split() : 문자열 분리

In [ ]:
phone_number = "+82-01-2345-6789"
phone_list=phone_number.split('-')
print(phone_list)

['+82', '01', '2345', '6789']

In [ ]:
phone_number = "+82-01-2345-6789"
phone_number.split('-',maxsplit=2)

['+82', '01', '2345-6789']

In [ ]:
tempText = 'aaaaabbPythonbbaaaaaa'
print(tempText.split('ba'))
tempText1 = 'hello world fun'
print(tempText1.split(' '))

['aaaaabbPythonb', 'aaaaa']
['hello', 'world', 'fun']

##strip() : 필요없는 문자열 삭제
- 문자열 양쪽의 공백을 지우는 메소드

In [ ]:
tempPython="hello world! "
print(tempPython.strip(" ")) #문자열 양쪽의 공백을 지운다.

hello world!

In [ ]:
tempText = 'aaaaabbPythonbbaaaaaa'
print(tempText.strip('ab'))

Python

In [ ]:
tempText = '\n Python \n\n'
print(tempText.strip(' \n')) #공백후에 " \n"을 하면 tempText에 들어있는 Python에 공백과 \n을 모두 지워준다.

Python

## join() : 문자열 연결
- 더하기 연산자(+)로 두 문자열을 연결 가능

In [ ]:
name1 = '철수'
name2 = '영미'

hello = '님, 주소와 전화 번호를 입력해 주세요'
print(name1+hello)
print(name2+hello)

철수님, 주소와 전화 번호를 입력해 주세요
영미님, 주소와 전화 번호를 입력해 주세요

In [ ]:
address_list = ['서울시', '서초구', '반포대로', '201(반포동)']

#리스트의 가 값을 모두 연결해서 하나의 텍스트로
a=','
a.join(address_list)

'서울시,서초구,반포대로,201(반포동)'

## find() : 문자열 찾기
- 문자열의 위치 값을 반환 즉 리턴값이 있다.

In [ ]:
str_f = 'Python code.'
print('찾는 문자열의 위치:' , str_f.find('code'))
print('찾는 문자열의 위치:' , str_f.find('Java')) # find 메소드는 값이 없을 때 error를 띄우지 않고 -1을 띄운다. 하지만 index 메소드는 error를 띄워준다.

찾는 문자열의 위치: 7
찾는 문자열의 위치: -1

## count() : 찾고자 하는 문자열의 횟수 반환
- 만약, 찾을 문자열이 없으면 0으로 반환

In [ ]:
str_c = "Python is powerful. Python is easy to learn. Python is open"
print("Python의 갯수는?",str_c.count('Python'))
print("Python의 갯수는?",str_c.count('powerful'))
print("Python의 갯수는?",str_c.count('Java'))

Python의 갯수는? 3
Python의 갯수는? 1
Python의 갯수는? 0

## startswith, endswith
- 각문자열이 지정된 문자로 시작하는지 또는 끝나는지 체크(검사)할 때 사용

In [ ]:
str_c = "Python is powerful. Python is easy to learn. Python is open."
print("Python으로 시작?",str_c.startswith('Python'))
print("Python으로 시작?",str_c.startswith('is'))
print("Python으로 끝나?",str_c.endswith('.'))
print("Python으로 끝나?",str_c.endswith('!'))

Python으로 시작? True
Python으로 시작? False
Python으로 끝나? True
Python으로 끝나? False

##replace() : 문자열 바꾸기
- 지정한 문자열을 찾아서 바꾸는 메소드

In [ ]:
# str_a = 'Python is fast. Python is friendly. Python is open.'

In [ ]:
str_a = 'Python is fast. Python is friendly. Python is open.'
str_a.replace('Python','b')
print(str_a)

Python is fast. Python is friendly. Python is open.

#리스트 함수

##append()
-리스트에서 항목 하나를 맨 마지막에 추가

In [ ]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
myFriends.append('Thomas')
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary', 'Thomas']

##extend()

In [ ]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
myFriends.append('Thomas')

# newFriends = ['A', 'B', 'C']
# myFriends.append(newFriends) #append와 extend의 차이점
# print(myFriends)
myFriends.extend(newFriends)
print(myFriends) #append는 새로들어오는 값을 그대로 올려주지만 리스트로 들어왔을때도 extend는 리스트에 그대로 확장해서 값을 넣어준다.

['James', 'Robert', 'Lisa', 'Mary', 'Thomas', 'A', 'B', 'C']

#클래스

##함수

In [ ]:
# 함수의 구조
#매개변수,인자

def 함수명([인자1,인자2,...인자n]):
  #코드 블록
  return 반환값

In [14]:
def mySum(a,b):
  result=a+b
  return result


a=1
b=1
print(mySum(a,b))

2

In [15]:
def mySubtract(a,b=0):
  result=a-b
  return result

M=1
result=mySubtract(M)
print(result)

1

In [16]:
def my_func():
  print("My first function")
  print("This is a function!")

In [17]:
my_func()

My first function
This is a function!

In [18]:
def mySum(a,b=0):
  c=a+b
  print(f'함수 잘 작동 중? {c}')


a=1
result=mySum(a)
print(result) #return 값이 없기에 none이라는 결과값도 출력된다.

함수 잘 작동 중? 1
None

In [19]:
a=5

def func1():
  a=1
  print(f'func1 지역 변수 a={a}')
  #==> 지역변수는 함수 내에서만 작용되는 변수이다. 함수가 끝나면 지역변수는 사라진다.


func1()
print(f'전역 변수 a={a}')

print(a) #==> 전역변수인 5가 출력된다

func1 지역 변수 a=1
전역 변수 a=5
5

In [30]:
a=5 # ==>전역변수이다.

def func1():
  a=1
  print(f'func1 지역 변수 a={a}')

def func2():
  a=4
  print(f'func2 지역 변수 a={a}')

def func3():
  print(f'func3 전역 변수 a={a}')

def func4():
  global a
  # ==>global이라는 메서드를 사용해서 함수내에 사용되는 변수를 전역변수로 지정해줬다.
  a=500
  print(f'fun43 전역 변수 a={a}')

func1()
func2()
func3()
func4()

print(a)
# ==> func4에 함수내에서 global 메서드를 써서 a를 전역변수로 지정해줬기에 a=500이 나온다.
func3() # ==>전역변수의 func4에서의 global에 의한 전역변수 변경으로 500이 나오게 된다.

func1 지역 변수 a=1
func2 지역 변수 a=4
func3 전역 변수 a=5
fun43 전역 변수 a=500
500
func3 전역 변수 a=500

### 람다 함수
- def 함수 같은 경우에는 복잡한 함수 로직을 만들 때 주로 사용
- 단순 기능을 수행 할 때, lambda함수
  +함수를 한줄로 처리

In [32]:
(lambda x : x**2)(3)

9

In [ ]:
(lambda 인자(=매개변수) : 인자를 활용한 코드)(원하는 인자 입력)

In [33]:
mySquare = lambda x : x**2
mySquare(3)

9