<a href="https://colab.research.google.com/github/Y0un9Ki/mulcamp34/blob/main/%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95_231229.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#딕셔너리(Dictionary)
- {} 형태로 key와 value값으로 구성되어있다. {key1:value1, key2:value2, ...}

In [3]:
#나라-수도 이름
country_capital={
    '아르헨티나':'부에노스 아이레스',
    '캐나다':'오타와'
}
print(country_capital)

{'아르헨티나': '부에노스 아이레스', '캐나다': '오타와'}

In [4]:
data2={'list1':[1,2,3], 'list2':[4,5,6]}
data2

{'list1': [1, 2, 3], 'list2': [4, 5, 6]}

In [5]:
data3={'list1':[1,2,3], 'list2':[4,5,6],1:'테스트'}
data3

{'list1': [1, 2, 3], 'list2': [4, 5, 6], 1: '테스트'}

##딕셔너리 다루기

In [7]:
country_capital={
    '대한민국' : '서울',
    '아르헨티나':'부에노스 아이레스',
    '캐나다':'오타와'
}

In [8]:
#내가 좋아하는 도시 이름 (수정)
country_capital['대한민국']='부산'
country_capital

{'대한민국': '부산', '아르헨티나': '부에노스 아이레스', '캐나다': '오타와'}

In [9]:
# 딕셔너리 삭제 (del)
del country_capital['대한민국']
country_capital

{'아르헨티나': '부에노스 아이레스', '캐나다': '오타와'}

In [10]:
country_capital['일본']='도쿄'
country_capital

{'아르헨티나': '부에노스 아이레스', '캐나다': '오타와', '일본': '도쿄'}

# 딕셔너리 메서드

In [14]:
country_capital.keys()
print(type(country_capital.keys()))

<class 'dict_keys'>

In [12]:
country_capital.items()

dict_items([('아르헨티나', '부에노스 아이레스'), ('캐나다', '오타와'), ('일본', '도쿄')])

In [15]:
#딕셔너리를 리스트로 변환
print(list(country_capital.keys()))

['아르헨티나', '캐나다', '일본']

In [ ]:
score=int(input('점수를 입력해주세요!'))
if score>=90:
  print('A입니다 참잘했어요')
elif score>=80:
  print('B입니다. 조금만 더 노력해봐요')
else:
  print('조금만 더 노력해서 재시험을 봐요!')

In [17]:
for i in country_capital.values():
  print(i)

부에노스 아이레스
오타와
도쿄

In [27]:
for i in range(2,10):
  for j in range(1,10):
    result=i*j
    print(result, end=" ")
  print(' ')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [28]:
i=1
n=3

while i<=n:
  print(f'현재 {i}')

  i+=1

현재 1
현재 2
현재 3

# 파이썬 문서화 (Docstring)
- 코딩을 한다. 프로그래밍을 한다.
- 누군가에게 관련 지식을 전달하는 것과 동일
+ 혼자 코딩하고, 혼자만 알 수 있는 언어로 코딩을 했다 ==> 협업 불가능
  + 취업, 퇴사, 이직 ==> 업무 인수인계를 해야 함
  + 코딩한 것에 문서화를 하지 못하면, 업무 인수인계 자체가 불가능
- 프로젝트 진행
  + 3주 / 4주 ==> 마지막주에는
    - 2-3명, PPT 보고서 작성
    - 남은 인원, Docstring을 사용해서, 문서화
  + help() 명령어를 사용해서 불러오기 할 수 있음 (예. read_csv() 문서처럼 출력이 가능)

In [29]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [30]:
def my_power(n):
  '''숫자 n을 입력하면 n의 거듭제곱으로 반환'''
  result=n**2
  return result

In [31]:
my_power(2)

4

In [32]:
print(my_power.__doc__)

숫자 n을 입력하면 n의 거듭제곱으로 반환

In [33]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [36]:
def read_csv(sep, header):
  '''
  Returns the sum of ~~~,

    Parameters:
      sep (str) : Character or regex pattern to treat as the delimiter.
      header(int) : Row number(s) containing column labels

    Returns:
      c(int) : sum of ~~


  '''
  c = sep+header
  return c

In [37]:
print(read_csv.__doc__)

  Returns the sum of ~~~,

    Parameters:
      sep (str) : Character or regex pattern to treat as the delimiter.
      header(int) : Row number(s) containing column labels

    Returns:
      c(int) : sum of ~~

# 클래스 상속
- 부모>자식
- 대분류>중분류>소분류

In [38]:
class Animal:
  #Attribute 정의(=클래스 변수)
  name = ""

  # 공통함수
  def eat(self):
    print("나는 먹을 수 있음")

class Dog(Animal): #클래스 상속을 했다. 동물 ==> 강아지로 기본 기능을 제공함
                   #  class Animal에서 상속을 받았다.

  #새로운 메서드
  def dance(self):
    print(f"{self.name} 강아지가 춤을 춘다")

In [40]:
#객체 생성
a=Dog()
a.name="코코"
a.eat()

나는 먹을 수 있음

In [43]:
b = Animal()
b.name = "토리"
b.eat()
# b.dance() ==> Animal에는 dance라는 메서드가 없기에 되지 않는다.

나는 먹을 수 있음

### 클래스 Docstring

In [ ]:
class Person:
  '''
  자기 소개하는 Person 클래스

  Attributes
  ----------
  name : str
    사람의 이름을 의미
  age : int
    사람의 나이를 의미
  grade : int
    사람의 현재 학년을 의미

  Method
  ----------
  info(comment=" ") : str
    그 사람의 개인적인 사항을 적음

  '''
  def __init__(self, name, age, grade):
    self.name = name
    self.age = age
    self.grade = grade

  def info(self, comment = ""):
    print(f'내 이름은 {self.name}. 내 나이는 {self.age}. 현재 학년은 {self.grade}. {comment}')